body{
    background-image: url(photo-1564549589849-7184d69013a4.jfif);
background-size: cover;
}
.search{
    margin-bottom: auto;
    margin-top: 10px;
    height: 50px;
    width: 400px;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 40px;
    padding-left: 30px;
    /* padding: 10px */

    
}
input{
    margin-left: 570px;
}
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

